*{
  box-sizing: border-box;
}

.style{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,15,125,1) 0%, rgba(105,14,124,1) 0%, 
  rgba(108,9,121,0.41306029247636555) 56%, rgba(54,110,188,1) 100%, rgba(37,142,209,1) 100%, rgba(0,212,255,1) 100%);; 
  border: 1px solid rgb(87, 0, 128); 
  height: 350px;
  display: flex;
  flex-direction: column;
}

/*about us - css */
.center {
  font-size: 70px;
  text-align: center;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.text_1{
  text-align: left;
  text-shadow: rgb(136, 136, 202);
  margin: 300px 40px 0 200px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.text_2{
  text-align: justify;
  margin: 0 80px 0 200px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
 
}

.image_1{
  width: 750px;
  height: 550px;
  margin: -17% 0 0 55%;
  position: relative;
  padding-top: 10px;
 
}


.btn_1 {
  padding: 15px 25px;
  font-size: 65px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #9B88F9;  
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 49%;
  height: 200px;
  margin-bottom: 200px;
  
}

.btn_1 a{
  font-size: 65px;
  color: #fff;
}

.btn_2 a{
  font-size: 65px;
  color: #fff;
}

.btn_1:hover{
  background-color: #463e8e;

}

.btn_1:active {
  background-color: #072008;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.btn_2 {
  padding: 15px 25px;
  font-size: 65px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color:#9B88F9; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 49%;
  height: 200px;
  margin-bottom: 200px;
}

.btn_2:hover{
  background-color: #463e8e;  

}

.btn_2:active{
  background-color: #072008;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}














